#!/bin/bash

# This part allows docker login
gpg2 --full-generate-key
gpg2 -k
pass init dockerlogin


# This portion initializes the Kubernetes cluster and writes the output to a file so you can add more nodes using the output commands provided.
kubeadm init --pod-network-cidr={{k8s_ip_network}} --upload-certs --control-plane-endpoint={{k8s_control_node}} > /home/ansible/cluster_join_info.txt
