#!/bin/bash

docker pull nginx:latest
docker tag nginx:latest master01:31320/nginx:1.17
docker push master01:31320/nginx:1.17
kubectl --kubeconfig /home/ansible/.kube/config create -f nginx-test.yaml 
